[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tablib = "*"
openpyxl = "==2.4.9"

[dev-packages]
pytest = "*"
pytest-pythonpath = "*"

[requires]
python_version = "3.7"
